<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd" version="3.1">
  <display-name>HelloWorld Application</display-name>
  <description>
		This is a simple web application with a source code
		organization
		based on the recommendations of the Application
		Developer's Guide.
	</description>
  <servlet>
    <servlet-name>listadoActores</servlet-name>
    <servlet-class>es.salesianos.servlet.ListadoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listadoDirectores</servlet-name>
    <servlet-class>es.salesianos.servlet.ListadoServletDirectores
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listadoPeliculas</servlet-name>
    <servlet-class>es.salesianos.servlet.ListadoServletPeliculas
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddActorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.AddActorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddDirectorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.AddDirectorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPeliculaServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.AddPeliculaServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteActorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.DeleteActorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePeliculaServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.DeletePeliculaServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDirectorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.DeleteDirectorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PeliculaActorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.PeliculaActorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecoveryAddFilmServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.RecoveryAddFilmServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FillPeliculaActorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.FillPeliculaActorServlet
		</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>characterSearcherServlet</servlet-name>
	<servlet-class>es.salesianos.servlet.CharacterSearcherServlet
		</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>buscadorActorServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.BuscadorActorServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActorServlet</servlet-name>
    <url-pattern>AddActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listadoActores</servlet-name>
    <url-pattern>cargarListadoActores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listadoDirectores</servlet-name>
    <url-pattern>cargarListadoDirectores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listadoPeliculas</servlet-name>
    <url-pattern>cargarListadoPeliculas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteActorServlet</servlet-name>
    <url-pattern>/deleteActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDirectorServlet</servlet-name>
    <url-pattern>/deleteDirector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePeliculaServlet</servlet-name>
    <url-pattern>/deletePelicula</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPeliculaServlet</servlet-name>
    <url-pattern>AddPelicula</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDirectorServlet</servlet-name>
    <url-pattern>AddDirector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PeliculaActorServlet</servlet-name>
    <url-pattern>/peliculaactor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecoveryAddFilmServlet</servlet-name>
    <url-pattern>/recoveryFilm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FillPeliculaActorServlet</servlet-name>
    <url-pattern>/fillPeliculaActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>characterSearcherServlet</servlet-name>
		<url-pattern>/characterSearcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>buscadorActorServlet</servlet-name>
		<url-pattern>/buscadorActor</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>