<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd" version="3.1">
  <display-name>HelloWorld Application</display-name>
  <description>
		This is a simple web application with a source code
		organization
		based on the recommendations of the Application
		Developer's Guide.
	</description>
  <servlet>
    <servlet-name>ActorsList</servlet-name>
    <servlet-class>es.salesianos.servlet.ActorsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DirectorsList</servlet-name>
    <servlet-class>es.salesianos.servlet.DirectorsList
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FilmsList</servlet-name>
    <servlet-class>es.salesianos.servlet.FilmsList
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddActorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.AddActorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddDirectorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.AddDirectorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPeliculaServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.AddPeliculaServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteActorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.DeleteActorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePeliculaServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.DeletePeliculaServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDirectorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.DeleteDirectorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FilmActorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.FilmActorServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecoveryAddFilmServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.RecoveryAddFilmServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FillPeliculaActorServlet</servlet-name>
    <servlet-class>es.salesianos.servlet.FillPeliculaActorServlet
		</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>characterSearcherServlet</servlet-name>
	<servlet-class>es.salesianos.servlet.CharacterSearcherServlet
		</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>ActorSeacherServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.ActorSeacherServlet
		</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>FilmActorServlet</servlet-name>
    <url-pattern>/FilmActor</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddActorServlet</servlet-name>
    <url-pattern>AddActor</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>FilmsList</servlet-name>
    <url-pattern>LoadFilmsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DirectorsList</servlet-name>
    <url-pattern>LoadDirectorsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActorsList</servlet-name>
    <url-pattern>LoadActorsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>ActorSeacherServlet</servlet-name>
	<url-pattern>/ActorSearcher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteActorServlet</servlet-name>
    <url-pattern>/deleteActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDirectorServlet</servlet-name>
    <url-pattern>/deleteDirector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePeliculaServlet</servlet-name>
    <url-pattern>/deletePelicula</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPeliculaServlet</servlet-name>
    <url-pattern>AddPelicula</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDirectorServlet</servlet-name>
    <url-pattern>AddDirector</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RecoveryAddFilmServlet</servlet-name>
    <url-pattern>/recoveryFilm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FillPeliculaActorServlet</servlet-name>
    <url-pattern>/fillPeliculaActor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>characterSearcherServlet</servlet-name>
	<url-pattern>/characterSearcher</url-pattern>
	</servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>